* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* always include to make sure boxes
  are sized correctly*/
  .page {
    display: flex;
    flex-wrap: wrap;
  }
}
.menu-container {
  padding: 5px ;
  background-color: #505050;
  display: flex;
  justify-content: space-between;
  color: white;

}
.menu {
  font-family: "calibri";
  font-size: 14px;
  width: 200px;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  text-align: center;
  padding: 20px 0 0 20px;
}
a:link {
  display: flex;
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}


.name {
  padding: 20px;
  display: flex;
  justify-content: ceneter;
  font-size: 16px;
  font-family: "calibri";
  list-style-type: none;
  color: white;
}
.content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.content-item {
  padding: 2px;
  display: flex;
  background-color: #white;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}
